.home-container{
    overflow-y: scroll;
    height: 500px;
    margin: 5% 5% 5% 5%;
    background-color: transparent;
}

.card-container{
    width: 200px;
    height: 100px;
    text-align: center;
}

.button-container{
    margin-top: 5px;
}