<div *ngIf="show">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button [routerLink]="'/home'" mat-icon-button>
                <mat-icon>support</mat-icon>
            </button>
            <a mat-button (click)="createNewProject()" *ngIf="canCreate"> New Project </a>
            <a mat-button [routerLink]="'/personal-communication'">Database</a>
            <a mat-button [routerLink]="'/project-communication'">Task List</a>
            <a mat-button [routerLink]="'/project-communication'">Surveying</a>
            <a mat-button [routerLink]="'/project-communication'">Company</a>
            <a mat-button [routerLink]="'/project-communication'">Executive Analysis</a>
            <span class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>