<div *ngIf="project">
    <app-project-header [projectTitle]="project.project.title" (tabSelected)="handleTabChange($event)">
    </app-project-header>
    <mat-sidenav-container>
        <mat-sidenav #sidenav [mode]="'side'" [(opened)]="opened">
            <h4>Project Metrics: </h4>
            <h4>Project Descriptions: {{project.project.description}}</h4>
            <p><button mat-button (click)="sidenav.toggle()">hide</button></p>
        </mat-sidenav>

        <mat-sidenav-content>
            <p *ngIf="!opened"><button mat-button (click)="sidenav.toggle()">Show Sidebar</button></p>
            <div *ngIf="currentTab === 'item'">
                <app-project-table *ngIf="!itemDetail" [tableData]="project.items" (selectedItem)="itemSelected($event)">
                </app-project-table>
                <div *ngIf="itemDetail">
                    <app-item-detail-view [item]="itemDetail"></app-item-detail-view>
                </div>
            </div>
            <div *ngIf="currentTab === 'people'"> people table</div>
            <div *ngIf="currentTab === 'commitments'">commitment</div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <button mat-raised-button color="primary" (click)="createNewItem()">New Item</button>
</div>