<h1 mat-dialog-title>New Project</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input matInput type="text" [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Project Description</mat-label>
        <input matInput type="text" [(ngModel)]="data.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onYesClick(data)">Ok</button>
</div>